.navbar{
   
    
    padding: 1.2rem;
    border-bottom: 1px solid #DCDCDC;
    display: flex;
    justify-content: center;
     box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.navlog{
    
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid  #DCDCDC;
    

}
.navlog i{
    font-size: larger;
}